<button (click)="clickForBoredom()">Quit being Bored, okay?</button>
<div class="container">

<div *ngIf="boringResponse" style="margin:auto; text-align: left;">
<div>Maybe this activity is up your alley? <em>{{boringResponse.activity}}.</em> Does that sound like something you'd enjoy?</div>
<div>It's the accessable on a scale of something to something: <em>{{boringResponse.accessibility}}</em></div>
<!-- <div>{{boringResponse.key}}</div> -->
<div>Maybe I can send you to more info: <em>{{boringResponse.link}}</em></div>
<div>How many of you folks can fit? <em>{{boringResponse.participants}},</em> that many</div>
<div>It'll cost you this much: <em>{{boringResponse.price}}</em></div>
<div>Want to know what type this falls into? <em>{{boringResponse.type}}</em></div>
</div>

</div>
